@{
    ViewData["Title"] = "Dweights Page";
}

<div>
    <h1 class="display-4 text-center">Welcome</h1>
    <section class="row pt-4 d-flex justify-content-center">
        <h5 class="text-center">Team Members Information Menu</h5>
    </section>
        <section class="container" style="background: linear-gradient(238deg, rgba(30, 113, 16, 0.80) 12.82%, rgba(88, 202, 69, 0.76) 100%);">
            <section class="row p-3 d-flex">
                <section class="col d-flex justify-content-start ">
                        <img class=""src="~/img/123.svg" />
                    </section>
                <section class="col d-flex justify-content-end  h-25 w-25 pt-4">
                        <img class="h-25 w-25"src="~/img/Ellipse 4.svg" />
                    </section
            </section>
            @* content *@
            <section class="container border bg-white pt-0 pb-3">
                <section class="row d-flex">
                    <section></section>
                </section>
                <section class="bg-white">
                    @* arrow *@
                    <section class="row d-flex pt-2">
                        <section class="col-1 d-flex justify-content-start align-items-center">
                            <a asp-controller="Home" asp-action="Index"><i class="fa fa-arrow-left"></i></a> 
                        </section>
                        <section class="col d-flex justify-content-start align-items-center">
                            <h5 class="fw-normal d-flex">User Master</h5>
                        </section>
                        <section class="col d-flex justify-content-end">
                        <!-- Search bar with icon on the left -->
                            <div class="search-container-dwieght border rounded-0 px-3">
                                <input class="search-input-dwieght" type="text" placeholder="Search">
                                <div class="search-icon-dwieght d-flex align-items-center">
                                    <i class="fa fa-search"></i>
                                </div>
                            </div>
                        </section>
                        @* add button *@
                        <section class="col-2 d-flex justify-content-end align-items-center">
                            <section class="">
                                    <input onclick="openModal()" class="btnAddDwieght rounded-2 border px-5 p-2" type="button" name="btnAdd" value="add"/>
                            </section>
                        </section
                    </section
            </section>

        </section>
        @* container *@
        <div class="pt-3">
        <section class="border p-4">
            <section class="row p-2 d-flex">
                <table class="table-bordered table">
                    <thead>
                        <tr>
                            <th>UserID</th>
                            <th>Name</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Fuentes, Dweight Dewey E.</td>
                            <td class="d-flex align-items-center justify-content-center">
                                <a href="#" onclick="editUser()"><i class="fa fa-pen"></i></a>
                                <span class="px-3"></span>
                                <a href="#" onclick="deleteUser()"><i class="fa fa-trash"style="color:#F02D3A;"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </section>
        </div>
        @* modal *@
      <!-- The Modal -->
        <div id="myModal" class="modalFuentes">
            <!-- Modal content -->
            <div class="modal-contentFuentes">
                <span class="closeFuentes" onclick="closeModal()">&times;</span>
                <h2>Add User</h2>
                <section class="p-3 border container rounded-2">
                    <form action="#">
                        @* id *@
                        <section class="pt2">
                        <label for="userID">UserID</label><br>
                        <input type="text" name="userID" id="userID" placeholder="Enter userid"><br>
                        </section>
                        @* name *@
                         <section class="pt2">
                        <label for="username">Name</label><br>
                        <input type="text" name="username" id="username" placeholder="Enter name"><br>
                        </section>
                        @* password *@
                         <section class="pt2">
                        <label for="password">Password</label><br>
                        <input type="text" name="password" id="password" placeholder="Enter password"><br>
                        </section>
                        @* confirm password *@
                         <section class="pt2">
                        <label for="conPass">Confirm Password</label><br>
                        <input type="text" name="conPass" id="conPass" placeholder="Confirm Password"><br>
                        </section>
                        @* button *@
                        <section class="row pt-4 d-flex justify-content-center">
                        <input type="submit" value="Submit" class="btn btn-success">
                        </section>
                    </form>
                </section>
            </div>
        </div>
</div>

