@{
    ViewData["Title"] = "Dweight Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my life</h1>
    <section class="row pt-4 d-flex justify-content-center border">
        <h5 class="text-center">Members Information</h5>
    </section>
        <section class="container" style="background: linear-gradient(238deg, rgba(30, 113, 16, 0.80) 12.82%, rgba(88, 202, 69, 0.76) 100%);">
            <section class="row d-flex">
                <section class="col d-flex justify-content-start h-75 w-75"><img src="~/img/123.svg" /></section>
                <section class="col d-flex justify-content-end  h-75 w-75 pt-4"><img src="~/img/Ellipse 4.svg" /></section
            </section>
            <section class="container border bg-white">
                <section class="row d-flex">
                    <section></section>
                </section>
                <section class="border bg-white">
      
            </section>

        </section>

</div>

