@{
    ViewData["Title"] = "Xintona Page";
}

<div class="text-center">
    <h1 class="display-3">Xintonas Page</h1> 
</div>
<div class="container mt-5">
    <section>
        <h2>Introduction</h2>
        <p>Hello, I'm Anton Rodrigo Caballero. I am a BSIT-4 .</p>
    </section>

    <section>
        <h2>Education</h2>
        <p>I will graduate from Universrity of Cebu - Main Campus with a degree in Bachelor of Science in Information Technology.</p>
    </section>

    <section>
        <h2>Experience</h2>
        <p>I have 0 years of experience in Working.</p>
    </section>

    <section>
        <h2>Hobbies and Interests</h2>
        <p>I sleep always</p>
    </section>
</div>