@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <br/>
    <h1 class="display-4">Hello I'm Evanglemer Sebial'</h1>
    <h4> User's Profile</h4>
    <img src="~/img/profile.png" /><br /><br />
</div>
<div>
        <center>
            <b>Address: </b> <h6 align="justify;">Cebu City, Philippines 6000</h6><br />
            <b>Birthdate: </b><h6 align="justify;"> December 15 2000</h6><br />
            <b>Contact: </b> <h6 align="justify;">09159088582</h6><br />
        </center>
</div>
