@{
    ViewData["Title"] = "Activity Page";
}

<div class="text-center">
    <h1 class="display-4">Group Act 1</h1>
</div>

<body>
    <p class="heading">Learn Something</p>
    <div class="row">
        <div class="col" id="card-padding">
            <div class="gallery-image">
                <div class="img-box">
                    <img class="image" src="/img/123037.jpg" alt="" />
                    
                        <div class="transparent-box">
                            <div class="caption">
                                <p style="color:white;">One Piece</p>
                                
                            </div>
                        </div>
                   
                </div>
            </div>
        </div>
        <div class="col" id="card-padding">
            <div class="gallery-image">
                <div class="img-box">
                    <img class="image" src="~/img/8493335701_f00b09a21c_o-1000x795.jpg" alt="" />
                   
                        <div class="transparent-box">
                            <div class="caption">
                                <p style="color:white;">Guns</p>
                                
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
        <div class="col" id="card-padding">
            <div class="gallery-image">
                <div class="img-box">
                    <img class="image" src="~/img/florian-olivo-4hbJ-eymZ1o-unsplash-scaled-e1616631053918.jpg" alt="" />
                    
                        <div class="transparent-box">
                            <div class="caption">
                                <p style="color:white;">Code</p>
                                
                            </div>
                        </div>
                   
                </div>
            </div>
        </div>
        <div class="col" id="card-padding">
            <div class="gallery-image">
                <div class="img-box">
                    <img class="image" src="~/img/hqdefault.jpg" alt="" />
                   
                        <div class="transparent-box">
                            <div class="caption">
                                <p style="color:white;">War</p>
                               
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>